In [1]:
# импортируем библиотеки
#!pip install psycopg2-binary
#!pip install flask_sqlalchemy
#!pip install SQLAlchemy
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': '###', # имя пользователя
            'pwd': '###', # пароль
            'host': '###',
            'port': 1111, # порт подключения
            'db': '####'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string) 
query = ''' SELECT *
        FROM dash_visits
        '''

dash_visits = pd.io.sql.read_sql(query, con = engine)

dash_visits.to_csv('dash_visits.csv')
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27